@charset "UTF-8";
/*! bulma.io v0.9.1 | MIT License | github.com/jgthms/bulma */
/* Bulma Utilities */
@import "../css/loading.css";
@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.is-unselectable, .tabs, .pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis, .breadcrumb, .file, .button, .modal-close, .delete {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Luca css */

section.menu {
  display: none;
}

/* SPACING */
.ml-1 {
  margin-left: 8px;
}
.ml-2 {
  margin-left: 16px;
}
.ml-3 {
  margin-left: 24px;
}
.ml-4 {
  margin-left: 32px;
}
.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mt-3 {
  margin-top: 24px;
}
.mt-4 {
  margin-top: 32px;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 32px;
}

/* DISPLAY / FLEX */

.d-flex-row {
  display: flex !important;
  flex-direction: row !important;
}
.d-flex-column {
  display: flex !important;
  flex-direction: column !important;
}

/* TIPOGRAPHY */
@font-face {
  font-family: neueMetana;
  src: url(fonts/NeueMetana-Regular.otf);
}
@font-face {
  font-family: codecPro;
  src: url(fonts/codecproregular.woff);
}

.bold {
  font-weight: 400 !important;
  font-weight: bold !important;
}
.super-bold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
h1 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
h3 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* COLOR */

.orange-border-2 {
  border: solid 2px rgb(255, 166, 0) !important;
}
.orange-bg {
  background-color: rgb(255, 166, 0) !important;
}

/* ALIGNMENT */

.justify-center {
  justify-content: center !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-around {
  justify-content: space-around !important;
}
.align-center {
  align-items: center !important;
}
.text-center {
  text-align: center !important;
}

/* SECTION: Header bar countdown */

section.header-bar {
  width: 100vw !important;
  background-color: white;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  z-index: 99999;
}
section.header-bar  > div.header-bar-wrapper {
  margin: 1vw 10vw;
  width: 100%;
}
section.header-bar > div > div.countdown-box {
  padding: 8px 8px;
  border-radius: 16px;
  height: 74px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.countdown-number {
  font-weight: 600;
  font-size: 1.5rem;
}
.countdown-title {
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
}
.sticky-header-margin-change {
  margin-top: 90px;
}

/* SECTION: PURCHASE FLOW */

section.purchase-flow {
  max-height: 160px;
  border-bottom: 1px solid rgb(243, 243, 243);
  position: relative;
  left: 0;
}
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #486445;
  padding-left: 0px;
  margin: 0 15vw 30px;
}

#progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 100%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar .step0:before {
  font-family: FontAwesome;
  content: "\f10c";
  color: #fff
}

#progressbar li:before {
  width: 40px;
  height: 40px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  background: #d1e2cb;
  border-radius: 50%;
  margin: auto;
  padding: 0px
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 12px;
  background: #d1e2cb;
  position: absolute;
  left: 0;
  top: 16px;
  z-index: -1
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: -50%
}

#progressbar li:nth-child(2):after {
  left: -50%
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 50%
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #31b631;
}

#progressbar li.active:before {
  font-family: FontAwesome;
  content: "\f00c"
}
div.purchase-flow-status-wrapper {
  width: 100%;
}
div.purchase-flow-status {
  width: 100%;
  margin: 0 15vw;
  justify-content: space-between;
  align-items: flex-end;
}

/* unique offer banner */

section.unique-offer {
  position: relative;
  width: 100%;
  min-height: 180px;
}
section.unique-offer > div.unique-offer-wrapper {
  margin: 0 5vw;
  padding: 32px 40px;
  border-radius: 16px;
  border: solid 1px rgb(223, 234, 245);
  box-shadow: rgba(151, 169, 185, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
section.unique-offer > div.unique-offer-wrapper > h2.h2-unique-offer {
  font-weight: bold !important;
}
section.unique-offer > div.unique-offer-wrapper > h2.h2-unique-offer > span.span-highlight {
  background: rgb(255, 211, 129);
  border: solid 1px rgb(255, 215, 39);
  padding: 2px 4px;
  border-radius: 4px;
  box-shadow: rgba(49, 54, 58, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

/* section Product Detail and CTA */

section.product-detail-cta {
  width: 100%;
  padding: 1vh 3vw;
  margin-bottom: 0 !important;
}
section.product-detail-cta > div > div.photo-container img {
  margin-top: 40px;
  margin-bottom: 0;
  padding-bottom: 0 !important;
}
section.product-detail-cta > div > div.description-cta-div {
  border-radius: 24px 40px 24px 40px;
  border-top: solid 1px rgb(218, 229, 243);
  border-left: solid 1px rgb(200, 217, 240);
  padding-bottom: 40px;
  max-width: 680px;
}

section.product-detail-cta > div > div.photo-container, section.product-detail-cta > div > div.description-cta-div {
  width: 100%;
  padding: 5vh 2.5vw;
}

span.orange-border-2 {
  border-radius: 4px !important;
  padding: 2px;
}

section.product-detail-cta > div > div > div.product-description > h4.product-price {
  font-size: 1.3rem;
}

section.product-detail-cta > div > div > div.product-description > h4.product-price > span.regular-price-crossed {
  font-size: 1rem;
  text-decoration: line-through;
  color: grey;
  font-weight: 600 !important;
}

section.product-detail-cta > div > div > div.product-description > img.review-stars {
  max-width: 112px;
}

div.cta-payment-method > button.cta-button {
  width: 100%;
  color: black;
  background-color: orange;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  padding: 16px 32px;
  border: solid 1px rgb(255, 225, 53);
  border-bottom: 3px solid orange !important;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: all 0.2s ease-in-out;
}
div.cta-payment-method > button.cta-button:hover {
  background-color: rgb(255, 196, 0);
  border-bottom: 3px solid rgb(255, 196, 0) !important;
  box-shadow: rgba(218, 186, 126, 0.48) 6px 2px 16px 0px, rgba(214, 183, 136, 0.8) -6px -2px 16px 0px;
  cursor: pointer !important;
}
div.cta-payment-method > img.cta-cards {
  margin-top: 40px !important;
  filter: grayscale(0.35);
  width: auto;
  height: auto;
}

/* Section more information  */

section.more-info-product {
  margin-top: -55px;
}
section.more-info-product > div.more-info-title {
  padding: 40px 0;
  background-color: rgb(45, 114, 24);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
section.more-info-product > div.more-info-title > h2 {
  color: white;
}
section.more-info-product > div.more-info-details-wrapper > div.more-info-text-cta {
  padding: 5vh 2.5vw 1vh;
}
section.more-info-product > div.more-info-details-wrapper > div.more-info-text-cta > div.more-info-text-wrapper > div.more-info-text {
  width: 100%;
  padding: 1vh 2vw !important;
}
section.more-info-product > div.more-info-details-wrapper > div.more-info-text-cta > div.more-info-text-wrapper > div.more-info-text > p {
  color: rgb(75, 75, 75);
}
div.more-info-text-head {
  border-top: solid 2px orange;
  border-bottom: solid 2px orange;
  padding: 16px 0;
  text-transform: uppercase;
}
section.more-info-product > div.more-info-details-wrapper {
  padding: 1vh 2.5vw;
}
section.more-info-product > div.more-info-details-wrapper > div.image-more-info img {
  width: auto;
  height: auto;
  margin-right: 1vw;
}


/* Decline Offer */

div.decline-go-next-page {
  margin: 16px 0;
  width: 100%;
  text-align: center;
}
div.decline-go-next-page a {
  text-decoration: underline;
  color: rgb(106, 170, 230) !important;
  font-size: .9rem;
}

/* Specific responsiveness adjustments */

@media screen and (max-width: 959px) {
  .countdown-title {
    font-size: 0.8rem !important;
    line-height: 1.2rem !important;
  }
  section.header-bar > div.header-bar-wrapper > div p {
    font-size: 0.8rem !important;
    line-height: 0.8rem !important;
    text-align: justify;
  }
  section.product-detail-cta > div {
    flex-direction: column-reverse !important;
  }
  section.unique-offer > div {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
  }
  section.unique-offer > div > h2.h2-unique-offer {
    font-size: 1.3rem !important;
  }
  section.unique-offer, div.description-cta-div {
    margin-top: 24px !important;
  }
  div.description-cta-div {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
    width: 100% !important;
  }
  .d-none {
    display: none !important;
  }
  div.description-cta-div > div.product-description > img.mobile-image-description {
    position: relative;
    margin: 0 auto 40px;
    max-width: 300px; 
  }
  .cta-standalone {
    padding: 0 3vw !important;
  }
  section.more-info-product {
    margin-top: -65px !important;
  }
  section.more-info-product > div.more-info-details-wrapper {
    flex-direction: column !important;
  }
  section.more-info-product > div.more-info-details-wrapper > div.image-more-info img {
    max-width: 70% !important;
    margin-top: 40px;
  }
  div.decline-go-next-page a {
    font-size: .8rem;
  }
}
@media screen and (min-width: 960px) {
  .mobile-only {
    display: none !important;
  }
}

/* Luca Lago message section */

section.end-message {
  width: 100vw;
  min-height: 500px;
  margin-top: 80px;
  margin-bottom: 0;
  background: rgb(255,255,255);
}
section.end-message > div.message-wrapper {
  margin: 3vh 3vw;
  background-color: white;
  padding: 5vh 10vw;
  text-align: center;
  border-radius: 20px;
  z-index: 999 !important;
  border: solid 1px rgb(216, 236, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
section.end-message > div.message-wrapper > h2.h2-message {
  font-family: neueMetana, sans-serif;
  font-weight: 800;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 56px;
}
section.end-message > div.message-wrapper > h3.h3-message {
  font-family: codecPro, sans-serif;
  margin-bottom: 56px;
  text-align: justify;
}
.standard-btn {
  font-family: neueMetana, sans-serif;
  font-size: 1.2rem;
  border: solid 1px rgb(83, 83, 83);
  border-radius: 25px;
  padding: 10px 20px;
  background-size: 100% 200%; 
  background-image: linear-gradient(to bottom, #fff 50%, rgba(208,255,0,1) 50%);
  transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 9999;
}
.standard-btn:hover {
  background-position: 0 100%;
  color: rgb(31, 31, 31);
}
button span {
  font-size: 1.4rem;
}
